.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 3em;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav a {
  margin: 0 2em;
}
